@import '../../../../assets/css/main/_colors';

.landing-page-title {
  color: $color-third;
  font-weight: bold;
  padding: 200px;
  text-align: center;
}

.landing-page-title-line {
  color: $color-third;
  font-weight: bold;
  border: 1px solid $color-third;
  text-align: center;
}