.app-menu-bar {
	border-radius: 50px;
	opacity: 0.7;
	
}
.app-menu-bar:hover {
	border-radius: 50px;
	opacity: 1;
}

.app-menu-bar.navbar {
	height: 37px;
}

.app-menu-bar-logo {
	font-size: 40px;
}

.app-menu-bar-others .navbar-nav {
	padding-left: 10px;
}

.app-menu-bar-others .navbar-nav .nav-link{
	font-size: 15px;
}

.app-menu-bar-social .navbar-nav {
	padding-left: 10px;
}

.app-menu-bar-others {
	
}

.app-menu-bar-social {
	
}

.navbar-brand {
    font-size: 15px;
}

.social-circle {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 25px;
	height: 25px;
	font-size:15px;
	background-color: #D3D3D3;
}
.social-circle i {
	margin:0;
	line-height:25px;
	text-align: center;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}