<div class="app-menu-bar navbar bg-dark">
    
  <!--Logo part-->
  <div class="navbar-nav navbar-brand active">
    <a routerLink="/" class="app-menu-bar-logo">MyPage
      <span class="sr-only">(current)</span>
    </a>
  </div>
    
  <!--Rest of nav bar-->
  <div class="navbar-nav navbar-expand app-menu-bar-others">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/aboutme">
        <span class="nav-link">About me?</span>
      </a>
    </div> 
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/error">
        <span class="nav-link">HIGJAG</span>
      </a>
    </div>
  </div>

  <!--Social links part-->
  <div class="navbar-nav navbar-expand app-menu-bar-social">
    <div class="navbar-nav">
      <a href="#" class="social-circle icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    </div> 
    <div class="navbar-nav">
      <a href="#" class="social-circle icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>

</div>