@import '../assets/css/main/main';

.app-app-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.app-app-bg-img {
    height: 100%;
    background-image: url('../assets/img/main_background_desk.jpg');
    background-size: 100% 100%;
    min-height: 500px; 
    border-left: grove 100px rgba(#100, 0.6);
    border-right: grove 100px rgba(#100, 0.6);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-app-bg-img-2 {
    height: 100%;
    background-image: url('../assets/img/main_background_desk.jpg');
    background-size: 100% 100%;
    min-height: 500px; 
    border-left: grove 100px rgba(#100, 0.6);
    border-right: grove 100px rgba(#100, 0.6);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-app-menu {
    position: absolute;
    align-self: center;
    top: $app-menu-bar-padding-top;
    right: $app-menu-bar-padding-horizontal;
    left: $app-menu-bar-padding-horizontal;
}

.app-app-body-container {
    position: absolute;
    align-self: center;
    top: $app-body-container-padding-top;
    right: $app-body-container-padding-horizontal;
    left: $app-body-container-padding-horizontal;
}

.app-app-body {
    
}