@import url('./lib/css/bootstrap-social.css');  
* {
    font-size: 12px;
    font-family: 'Mansalva', cursive;
    -webkit-font-smoothing: antialiased;
}

app-root {
    display: block;
    height: 100%;
  }